<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="dataset" value="../../../Dataset"/>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="streaming"
						 transferMode="Streamed"
						 maxReceivedMessageSize="67108864"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<client>
			<endpoint name="BatteryService"
					  address="net.tcp://localhost:9000/BatteryService"
					  binding="netTcpBinding"
					  bindingConfiguration="streaming"
					  contract="Common.IBattery" />
		</client>

	</system.serviceModel>
</configuration>