<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="streaming"
						 transferMode="Streamed"
						 maxReceivedMessageSize="67108864"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<services>
            <service name="Service.BatteryService">
            <host>
                <baseAddresses>
                    <add baseAddress="net.tcp://localhost:4002/" />
                </baseAddresses>
            </host>
            <endpoint address="BatteryService" 
					  binding="netTcpBinding" 
					  bindingConfiguration="streaming"
					  contract="Common.IBattery" />
            </service>
        </services>
	</system.serviceModel>
</configuration>